<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.google.com">The Complete Site for research</a>
      by <a href="http://github.com">Matheus Santos Oliveira</a>
    </small>
    <nav>
      <ul>
          <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
